body{
    background-color: rgb(33, 33, 33);
    margin: 0 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.B{
     text-align:  center;
     background-image: url(img/530366.jpg);


     height: 708px;
     width: 100%;
     max-width: 400%;
 
    background-repeat: no-repeat;
     background-position: center;

     
   
 
/* background: linear-gradient(to top,rgb(182, 21, 21),rgb(40, 40, 40));
background: linear-gradient(to bottom,rgb(182, 21, 21),rgb(40, 40, 40));
animation-name: aa;
animation-duration: 2s;
transform-style: preserve-3d;
animation-iteration-count: infinite;

}
@keyframes aa {
    0%{
        background:linear-gradient(to top,rgb(182, 21, 21),rgb(40, 40, 40)) ;
    }
    25%{background: linear-gradient(to bottom,rgb(182, 21, 21),rgb(40, 40, 40));

    }*/
} 
.B video{
    border-radius: 50px;
    border: 2px solid   ;
    color: #718285;
}

.B h1{
    text-align: right;
    padding: 20px 50px 40px 0;
    color: rgb(33,33,33);
 
  cursor: default;
  margin: 0 0 0 0;
}
.B ul li {
    color:azure;
    text-align: center;
    list-style: none;
    margin: 40px 40px;
    font-size: 20px;
    padding: 7px 35px 7px 35px;
    display: inline-block;  
    background-color: #2e3536;
    cursor: default;
    
   
}
.B ul li img{
    text-align: center;
}




.B li{
    border: 2px solid ;
    border-radius: 20px;
    align-items: center;   
    height: auto;
    width: 200px;
    
}

.C{
    flex: 1;
}


.Checklist{
    display: inline-flex;
    flex-direction:  row-reverse;
    align-items: center;
}
.hedear {
    display: flex;
    align-items: center;
    color: aliceblue;
    background-color: rgb(33, 33, 33);
    
   
      }

.h1 {
    padding: 0 0 0 10px;
    background-color: #2e3536;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    cursor: default;
    
}
  .A{
   flex: 1;
      text-align: right;
      
  }
  
  .A ul li {
      display: inline-block;
      list-style: none;
      margin: 0 20px;
      position: relative;
     
  }

  .A ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.896);
text-transform: uppercase;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .A ul li::after {
      content: '';
      height: 3px;
      width: 0;
      background:tomato  ;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;   
  }

  .A ul li:hover:after{
      width: 100%;
      
  }

.img{
    width:  1500px;
    height: 25px;
    margin: 0 0 0 0;
}
.H-slider{
    
  float: right;
  padding: 0 20px 0 0;
  
}

.H-slider h1{
    height: auto;
    color: azure;
    width: 300px;
    text-align: center;
    border: #FF5733 4px solid;
    
    border-radius: 20px;
padding: 5px 5px 5px 5px;
    
}

.Secound{
    margin: 0;
    padding: 55px 0 0 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(33, 33, 33);
    flex-direction: row-reverse;
  }
  
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 35px;
    overflow: hidden;
   
    
    align-items: center;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #FF5733;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #FF5733;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #FF5733;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #FF5733;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #FF5733;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #FF5733;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #FF5733;
  }
        


