body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
  }
  

.h1{
    -webkit-text-stroke: 1px white;
color: transparent;
font-size: 100px;
line-height: 10cm;display: flex;
justify-content: center;
align-items: center;
text-align: center;
cursor: default;
}

.h1 c {
    color: white;
    -webkit-text-stroke: 0 white;
}
  
  .pyro > .before,
  .pyro > .after {
    position: absolute;
    width: 5px;
    height: 8px;
    
    
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 555s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 73px -69.6666666667px #73ff00, -102px -74.6666666667px #4000ff, -215px -293.6666666667px #9500ff, 43px -37.6666666667px #ff00ae, 149px -236.6666666667px #ffc400, -35px -174.6666666667px #8400ff, 183px -208.6666666667px #eeff00, -215px 73.3333333333px #00ffe1, 155px -383.6666666667px #4000ff, 221px -228.6666666667px #006aff, -50px -278.6666666667px #ff0073, -183px -54.6666666667px #00ff59, 38px -333.6666666667px #ff0095, -59px -151.6666666667px #0026ff, 74px 41.3333333333px #ff0080, -30px -322.6666666667px #00ff73, 93px 14.3333333333px #00a2ff, 96px -223.6666666667px #51ff00, -71px 50.3333333333px #00ff15, 88px -113.6666666667px #ff00bb, -98px -266.6666666667px #ff8000, -55px -373.6666666667px #003cff, 174px -116.6666666667px #0026ff, 67px -193.6666666667px #00ff62, 176px -369.6666666667px #ff7b00, -59px -237.6666666667px #00eaff, -187px -254.6666666667px #ff00ea, 210px -288.6666666667px #8cff00, 92px -134.6666666667px #00ff09, -26px -84.6666666667px #00ff91, 82px 4.3333333333px #ff9100, 241px -402.6666666667px #ff00a2, 24px -125.6666666667px #00eaff, -168px -209.6666666667px #ff5100, -197px -295.6666666667px #00ff37, 231px -321.6666666667px #ff6a00, 218px -398.6666666667px #26ff00, -1px -78.6666666667px #00ff62, 69px -240.6666666667px #00fbff, -95px 20.3333333333px #00ffd5, 233px 26.3333333333px #006aff, -200px -235.6666666667px #6a00ff, 195px 53.3333333333px #00ddff, 191px 61.3333333333px #6fff00, -15px 73.3333333333px #22ff00, -63px 9.3333333333px #ffc800, 31px -211.6666666667px #ffea00, -46px -345.6666666667px #002fff, -76px 32.3333333333px #6200ff, 66px -59.6666666667px #00ff11, 104px -131.6666666667px #80ff00;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 73px -69.6666666667px #73ff00, -102px -74.6666666667px #4000ff, -215px -293.6666666667px #9500ff, 43px -37.6666666667px #ff00ae, 149px -236.6666666667px #ffc400, -35px -174.6666666667px #8400ff, 183px -208.6666666667px #eeff00, -215px 73.3333333333px #00ffe1, 155px -383.6666666667px #4000ff, 221px -228.6666666667px #006aff, -50px -278.6666666667px #ff0073, -183px -54.6666666667px #00ff59, 38px -333.6666666667px #ff0095, -59px -151.6666666667px #0026ff, 74px 41.3333333333px #ff0080, -30px -322.6666666667px #00ff73, 93px 14.3333333333px #00a2ff, 96px -223.6666666667px #51ff00, -71px 50.3333333333px #00ff15, 88px -113.6666666667px #ff00bb, -98px -266.6666666667px #ff8000, -55px -373.6666666667px #003cff, 174px -116.6666666667px #0026ff, 67px -193.6666666667px #00ff62, 176px -369.6666666667px #ff7b00, -59px -237.6666666667px #00eaff, -187px -254.6666666667px #ff00ea, 210px -288.6666666667px #8cff00, 92px -134.6666666667px #00ff09, -26px -84.6666666667px #00ff91, 82px 4.3333333333px #ff9100, 241px -402.6666666667px #ff00a2, 24px -125.6666666667px #00eaff, -168px -209.6666666667px #ff5100, -197px -295.6666666667px #00ff37, 231px -321.6666666667px #ff6a00, 218px -398.6666666667px #26ff00, -1px -78.6666666667px #00ff62, 69px -240.6666666667px #00fbff, -95px 20.3333333333px #00ffd5, 233px 26.3333333333px #006aff, -200px -235.6666666667px #6a00ff, 195px 53.3333333333px #00ddff, 191px 61.3333333333px #6fff00, -15px 73.3333333333px #22ff00, -63px 9.3333333333px #ffc800, 31px -211.6666666667px #ffea00, -46px -345.6666666667px #002fff, -76px 32.3333333333px #6200ff, 66px -59.6666666667px #00ff11, 104px -131.6666666667px #80ff00;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 73px -69.6666666667px #73ff00, -102px -74.6666666667px #4000ff, -215px -293.6666666667px #9500ff, 43px -37.6666666667px #ff00ae, 149px -236.6666666667px #ffc400, -35px -174.6666666667px #8400ff, 183px -208.6666666667px #eeff00, -215px 73.3333333333px #00ffe1, 155px -383.6666666667px #4000ff, 221px -228.6666666667px #006aff, -50px -278.6666666667px #ff0073, -183px -54.6666666667px #00ff59, 38px -333.6666666667px #ff0095, -59px -151.6666666667px #0026ff, 74px 41.3333333333px #ff0080, -30px -322.6666666667px #00ff73, 93px 14.3333333333px #00a2ff, 96px -223.6666666667px #51ff00, -71px 50.3333333333px #00ff15, 88px -113.6666666667px #ff00bb, -98px -266.6666666667px #ff8000, -55px -373.6666666667px #003cff, 174px -116.6666666667px #0026ff, 67px -193.6666666667px #00ff62, 176px -369.6666666667px #ff7b00, -59px -237.6666666667px #00eaff, -187px -254.6666666667px #ff00ea, 210px -288.6666666667px #8cff00, 92px -134.6666666667px #00ff09, -26px -84.6666666667px #00ff91, 82px 4.3333333333px #ff9100, 241px -402.6666666667px #ff00a2, 24px -125.6666666667px #00eaff, -168px -209.6666666667px #ff5100, -197px -295.6666666667px #00ff37, 231px -321.6666666667px #ff6a00, 218px -398.6666666667px #26ff00, -1px -78.6666666667px #00ff62, 69px -240.6666666667px #00fbff, -95px 20.3333333333px #00ffd5, 233px 26.3333333333px #006aff, -200px -235.6666666667px #6a00ff, 195px 53.3333333333px #00ddff, 191px 61.3333333333px #6fff00, -15px 73.3333333333px #22ff00, -63px 9.3333333333px #ffc800, 31px -211.6666666667px #ffea00, -46px -345.6666666667px #002fff, -76px 32.3333333333px #6200ff, 66px -59.6666666667px #00ff11, 104px -131.6666666667px #80ff00;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 73px -69.6666666667px #73ff00, -102px -74.6666666667px #4000ff, -215px -293.6666666667px #9500ff, 43px -37.6666666667px #ff00ae, 149px -236.6666666667px #ffc400, -35px -174.6666666667px #8400ff, 183px -208.6666666667px #eeff00, -215px 73.3333333333px #00ffe1, 155px -383.6666666667px #4000ff, 221px -228.6666666667px #006aff, -50px -278.6666666667px #ff0073, -183px -54.6666666667px #00ff59, 38px -333.6666666667px #ff0095, -59px -151.6666666667px #0026ff, 74px 41.3333333333px #ff0080, -30px -322.6666666667px #00ff73, 93px 14.3333333333px #00a2ff, 96px -223.6666666667px #51ff00, -71px 50.3333333333px #00ff15, 88px -113.6666666667px #ff00bb, -98px -266.6666666667px #ff8000, -55px -373.6666666667px #003cff, 174px -116.6666666667px #0026ff, 67px -193.6666666667px #00ff62, 176px -369.6666666667px #ff7b00, -59px -237.6666666667px #00eaff, -187px -254.6666666667px #ff00ea, 210px -288.6666666667px #8cff00, 92px -134.6666666667px #00ff09, -26px -84.6666666667px #00ff91, 82px 4.3333333333px #ff9100, 241px -402.6666666667px #ff00a2, 24px -125.6666666667px #00eaff, -168px -209.6666666667px #ff5100, -197px -295.6666666667px #00ff37, 231px -321.6666666667px #ff6a00, 218px -398.6666666667px #26ff00, -1px -78.6666666667px #00ff62, 69px -240.6666666667px #00fbff, -95px 20.3333333333px #00ffd5, 233px 26.3333333333px #006aff, -200px -235.6666666667px #6a00ff, 195px 53.3333333333px #00ddff, 191px 61.3333333333px #6fff00, -15px 73.3333333333px #22ff00, -63px 9.3333333333px #ffc800, 31px -211.6666666667px #ffea00, -46px -345.6666666667px #002fff, -76px 32.3333333333px #6200ff, 66px -59.6666666667px #00ff11, 104px -131.6666666667px #80ff00;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 73px -69.6666666667px #73ff00, -102px -74.6666666667px #4000ff, -215px -293.6666666667px #9500ff, 43px -37.6666666667px #ff00ae, 149px -236.6666666667px #ffc400, -35px -174.6666666667px #8400ff, 183px -208.6666666667px #eeff00, -215px 73.3333333333px #00ffe1, 155px -383.6666666667px #4000ff, 221px -228.6666666667px #006aff, -50px -278.6666666667px #ff0073, -183px -54.6666666667px #00ff59, 38px -333.6666666667px #ff0095, -59px -151.6666666667px #0026ff, 74px 41.3333333333px #ff0080, -30px -322.6666666667px #00ff73, 93px 14.3333333333px #00a2ff, 96px -223.6666666667px #51ff00, -71px 50.3333333333px #00ff15, 88px -113.6666666667px #ff00bb, -98px -266.6666666667px #ff8000, -55px -373.6666666667px #003cff, 174px -116.6666666667px #0026ff, 67px -193.6666666667px #00ff62, 176px -369.6666666667px #ff7b00, -59px -237.6666666667px #00eaff, -187px -254.6666666667px #ff00ea, 210px -288.6666666667px #8cff00, 92px -134.6666666667px #00ff09, -26px -84.6666666667px #00ff91, 82px 4.3333333333px #ff9100, 241px -402.6666666667px #ff00a2, 24px -125.6666666667px #00eaff, -168px -209.6666666667px #ff5100, -197px -295.6666666667px #00ff37, 231px -321.6666666667px #ff6a00, 218px -398.6666666667px #26ff00, -1px -78.6666666667px #00ff62, 69px -240.6666666667px #00fbff, -95px 20.3333333333px #00ffd5, 233px 26.3333333333px #006aff, -200px -235.6666666667px #6a00ff, 195px 53.3333333333px #00ddff, 191px 61.3333333333px #6fff00, -15px 73.3333333333px #22ff00, -63px 9.3333333333px #ffc800, 31px -211.6666666667px #ffea00, -46px -345.6666666667px #002fff, -76px 32.3333333333px #6200ff, 66px -59.6666666667px #00ff11, 104px -131.6666666667px #80ff00;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 39.9% {
      margin-top: 10%;
      margin-left: 65%;
    }
    /* 20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    } */
    /* 40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    } */
    /* 60%, 79.9% {
      margin-top: 40%;
      margin-left: 60%;
    } */
    /* 80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    } */
  }