    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    
    }
    .banner{
        width: 100%;
        height: 100vh;
        background-image: url(1065466.png);
        background-size:cover;
        background-position: center;
    }

    .logo{
    width: 40vh;
    height: 15vh;
    padding: 2vh 0 0 0;
    display: flex;
    cursor: pointer;
    }

    .Logo{
        margin: auto;
        display: flex;
    /*    
        align-items: center; */
        justify-content: space-between;
    

    }
    .Logo ul li{
        list-style: none;
        display: inline-block;
        margin:  0 25px;
        padding:  5vh 0 0 0;
        position: relative;
    }

    .Logo ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
    }
    .Logo ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #db0404;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    }

    .Logo ul li:hover::after{
        width: 100%;
    }

    .Content{
        background-color: rgba(253, 0, 0, 0.505);
        border-radius: 20px;
        height: 6vh;
        width: 25vh;
        text-align: center;
        padding: 8px 0 0 0;
        top: 85%;
        position: absolute;
        left: 85%;
        
       
    }
    .Content a{
        text-decoration: none;
        color: #fff;
    }